

.container {
    text-align: center;
    background-color: white;
  }
  
  .header {
    background-color: #d22701; 
    padding: 1rem;
    margin: 0;
    width:100%;
    top: 0;
    left: 0;
    /* width: 100vh; */
  }
  
  .navigation {
    display: flex;
    justify-content: flex-end;
  }
  
  .log-in, .sign-in {
    margin-left: 1rem;
    font-family: Impact, fantasy
  }
  
  .main-content {
    font-family: Impact, fantasy
  }

    .small {
    font-size: 30px; 
    margin-top: 0.5rem;
  }

    .large {
    font-size: 108px; 
    margin-bottom: 0.5rem;
   
}

  a {
    background-color: #d22701;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-family: Impact, fantasy
  }
  
  .footer {
    background-color: #d22701; 
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    margin: 0;
  }

  .pics {
    margin-top: 50px;
    text-align: center;
    /* margin-right: 30px; */
  }

  .pic {
    text-align:center;
  }

  body{
    margin:0px;
  }