.container {
  text-align: center;
  background-color: white;
}

.header {
  background-color: #0077b6;
  padding: 1rem;
  margin: 0;
  top: 0;
  left: 0;
}

.navigation {
  display: flex;
  top: 0;
  width: 100%;
  overflow: auto;
  height: auto;
  padding-bottom: 1rem;
}

.left-links {
  flex: 1 1 200px;
  margin-left: 20px;
  margin-top: 10px;
}

.right-links {
  margin-right: 20px;
  margin-top: 10px;
}

.logo {
  float: left;
}

.about-us {
  font-family: Impact, fantasy;
  background-color: transparent;
  border-color: transparent;
  font-size: larger;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

.about-us:hover {
  background-color: #016da8;
}

.log-in,
.sign-in {
  margin-left: 1rem;
  font-family: Impact, fantasy;
  border-radius: 10%;
  margin-top: 0.5rem;
}

.log-in:hover {
  background-color: #c6c6c7;
}

.sign-in:hover {
  background-color: #c6c6c7;
}

.main-content {
  font-family: Impact, fantasy;
}

.small {
  font-size: 30px;
  margin-top: 0.5rem;
}

.large {
  font-size: 108px;
  margin-bottom: 0.5rem;
}

.share {
  background-color: #0077b6;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-family: Impact, fantasy;
  border-radius: 10%;
}

.share:hover {
  background-color: #016da8;
}

.footer {
  background-color: #0077b6;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  margin: 0;
}

.pics {
  margin-top: 50px;
  text-align: center;
}

.pic {
  text-align: center;
}

body {
  margin: 0px;
  overflow-x: hidden;
}
