.container {
  text-align: center;
  background-color: white;
}

.header {
  background-color: #0077b6;
  padding: 1rem;
  margin: 0;
  top: 0;
  left: 0;
}

.navigation {
  display: flex;
  top: 0;
  width: 100%;
  overflow: auto;
  height: auto;
  padding-bottom: 1rem;
}

.left-links {
  flex: 1 1 200px;
  margin-left: 20px;
  margin-top: 10px;
}

.right-links {
  margin-right: 20px;
  margin-top: 10px;
}

.logo {
  float: left;
}

.about-us {
  font-family: Impact, fantasy;
  background-color: transparent;
  border-color: transparent;
  font-size: larger;
  color: white;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

.about-us:hover {
  background-color: #016da8;
}

.log-in,
.sign-in {
  margin-left: 1rem;
  font-family: Impact, fantasy;
  border-radius: 10%;
  margin-top: 0.5rem;
}

.log-in:hover {
  background-color: #c6c6c7;
}

.sign-in:hover {
  background-color: #c6c6c7;
}

.main-content {
  font-family: Impact, fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

form {
  width: 400px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #016da8;
}

.footer {
  background-color: #0077b6;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  margin: 0;
}

body {
  margin: 0px;
  overflow-x: hidden;
}
