<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css-files/style.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <nav class="navigation">
          <div class="left-links">
            <img
              class="logo"
              src="./images/logo.png"
              alt="logo"
              height="50px"
              onclick="window.location.href='/'"
            />
            <button
              class="about-us"
              onclick="window.location.href='/about'"
            >
              About Us
            </button>
          </div>
          <div class="right-links">
            <button
              class="log-in"
              onclick="window.location.href='/login'"
            >
              Log In
            </button>
            <button
              class="sign-in"
              onclick="window.location.href ='/sign-in'"
            >
              Sign In
            </button>
          </div>
        </nav>
      </header>
      <main class="main-content">
        <h1 class="large">Last Minute</h1>
        <p class="small">An Online Community Fridge</p>
        <a class="share" href="/login">Share!</a>
      </main>
    </div>
    <div class="pics">
      <img
        src="./images/cookies.jpg"
        alt="cookie"
        width="300"
        height="300"
        style="margin-right: 30px"
        onclick="window.location.href='/login'"
      />
      <img
        src="./images/pizza.jpg"
        alt="pizza"
        width="300"
        height="300"
        style="margin-right: 30px"
        onclick="window.location.href='/login'"
      />
      <img
        src="./images/lobster.jpg"
        alt="lobster"
        width="300"
        height="300"
        onclick="window.location.href='/login'"
      />
      <br>
      <h2 style="font-family: Impact, fantasy;">Log in to share and view posts!</h2>
    </div>
    <footer class="footer"></footer>
  </body>
</html>
