<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="./css-files/share.css">
<style>
    /* Optional CSS for styling */
    #imageContainer {
        margin-top: 20px;
    }
    #displayedImage {
        max-width: 100%;
        max-height: 300px;
    }
</style>
<head>
    <header class = "header">
        <nav class="navigation">
            <div class="left-links">
              <img
                class="logo"
                src="./images/logo.png"
                alt="logo"
                height="50px"
                onclick="window.location.href='/home'"
              />
              <button
                class="about-us"
                onclick="window.location.href='/about'"
              >
                About Us
              </button>
            </div>
            <div class="right-links">
              <img
                class="profile"
                src="./images/profile-pic.png"
                alt="profile-pic"
                height="50px"
                onclick="window.location.href='/account'"
              />
            </div>
          </nav>
    </header>
</head>
<div class = "container">
<h1 style="font-family: Impact, fantasy;">Food Postings</h1>

<h2 style="font-family: Impact, fantasy;">Submit Your Food!</h2>
<form action="#" method="get" enctype="multipart/form-data" id = 'foodForm'>
    <label>Name
        <input type="text" style = "margin-bottom: 5px" id="firstname" name = "firstname"/> 
    </br>
    </label>
    <label>Place
        <input type="text" style = "margin-bottom: 10px" id="place" name = "place"/>
    </label>
    </br>
    <label>Description
        <input type="text" style = "margin-bottom: 10px" id="descr" name = "descr"/>
    </label>
    </br>
    <label>How Old
        <input type="text" style = "margin-bottom: 5px" id="firstname" name = "firstname"/> 
    </br>
    </label>
</br>
    <label>Picture of Food
        <input type="file" style = "margin-bottom: 5px"name="picture" id ="picture"/>
    </br>
    </label>
    <button type="submit" style = "margin-top: 5px">Post!</button>
    </form>

    <script>
       document.getElementById('foodForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the form from submitting normally
    
            // Get values from form fields
            var name = document.getElementById('firstname').value;
            var description = document.getElementById('place').value;
            var input = document.getElementById('picture');
            
            if (input.files.length > 0) {
                var file = input.files[0];
                var reader = new FileReader();
            }

            reader.readAsDataURL(file);
            reader.onload = function() {
                var imageContainer = document.getElementById('imageContainer');

                var imgElement = document.createElement('img');
                imgElement.width = "300";
                imgElement.height = "300";
                imgElement.style.marginRight = "30px";
                 // Set src attribute to the data URL
                imgElement.src = reader.result;
                // Append the img element to the image container
                imageContainer.appendChild(imgElement);
            }
        });
    </script>
    <div class = "pics" id="imageContainer">
        <img src = "./images/cookies.jpg" alt="cookie" width= "300" height = "300" style="margin-right:30px;">

        <img src = "./images/pizza.jpg" alt="pizza" width= "300" height = "300" 
        style="margin-right:30px;">
    </div>
    <br>
    <br>
    <button class="back" onclick="window.location.href='/home'">
        Back
    </button>
</div>
    <footer class="footer">
    </footer>
</html>  